/*кнопка меню*/
.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 43px;
  height: 26px;
  font-size: 0;
  z-index: 1001;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
  height: 3px;
  background: $color2;
  width: 25px;
}

.cmn-toggle-switch span::before {
  position: absolute;
  display: block;
  left: 0;
  width: 45px;
  height: 3px;
  background-color: $color2;
  border-radius: 5px;
  content: "";
}

.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 13px;
  height: 3px;
  background-color: $color2;
  border-radius: 5px;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -6px;
}

.cmn-toggle-switch span::after {
  bottom: -6px;
}

.cmn-toggle-switch__htx {
  background-color: rgba(255, 255, 0, 0);
}

.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}

.cmn-toggle-switch__htx.active span {
  background: none;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  width: 45px;
  -webkit-transform: rotate(33deg);
  -ms-transform: rotate(33deg);
  transform: rotate(33deg);

}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  width: 45px;
  transition: .5s;
  -webkit-transform: rotate(-33deg);
  -ms-transform: rotate(-33deg);
  transform: rotate(-33deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}

/*конец кнопки*/

.link-menu {
  font-size: 18px;
  margin-bottom: 30px;
  a{
    color: $color2;
    padding-bottom: 3px;
    transition: .3s;
    &:hover{
      color: $color3;
      border-bottom: 1.5px solid $color3;
    }
  }
  @include maq('desktop') {
    text-align: center;
  }
}

.wrapper-menu {
  background: $color1;
  position: fixed;
  width: 100%;
  height: 93%;
  left: -100%;
  top: 58px;
  margin: 0;
  padding: 50px 15px 40px;
  overflow-y: auto;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  z-index: 900;
  @include mq('tablet') {
    width: 300px;
    top: 150px;
    padding: 20px 50px 20px;
    height: auto;
  }
}

.wrapper-menu.active {
  left: 0;
}

.wrapper-gamburger {
  align-self: center;
  @include mq('tablet-990') {
    margin-right: 130px;
  }
  @include mq('desktop') {
    margin-right: 170px;
  }
}
.wrapper-soc-menu{
  @media (min-width: 990px) {
    display: none ;
  }
  align-self: center;
  text-align: center;
  margin: 75px 0 30px;


  a {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 25px;
    }
    &:hover {
      svg {
        path {
          fill: $color3;
        }
      }
    }
  }
}

.wrapper-callback-menu{
  @include mq('tablet-990') {
    display: none;
  }
  text-align: center;
  a {

    display: inline-block;
    padding: 0 0 3px 0;
    color: $color2;
    @include adaptiv-font(16, 16);
    border-bottom: 1px dashed $color2;

    &:hover {
      color: $color3;
      border-bottom: 1px dashed $color3;
    }
  }
}
.no-scroll {
  height: 100vh;
  overflow: hidden;
}


