.sec_slider {
  position: relative;
  padding: 50px 0;
  @include mq('tablet') {
    padding: 75px 0 ;
  }
  @include mq('desktop') {
    padding: 0 ;
    margin: 100px 0;
  }
}

.sleder__title {
  @include adaptiv-margin-bottom(100, 70);
  z-index: 9;
}


.background-container {
  width: 100%;
  height: 100%;

}

.background-slide {

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #1c1c1c;
  img {
    width: 100%;
    @include mq('desktop1350') {
     // height: 98vh;
    }
  }
}

.body-slider-color {
  position: relative;
  width: 100%;
  margin: 40px 0;
  @include mq('tablet') {
    width: 400px;
    margin: 40px auto;
  }
  @include mq('desktop1350') {
    width: 510px;
    margin: auto;
  }
}

.color-container {
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
}

.wrapper-nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: calc(50% - 21px);
  @include maq('tablet') {
    display: none;
  }
  .color-button-next {
    margin-right: -80px;
  }
  .color-button-prev {
    margin-left: -80px;
  }
}

.color-ar {
  cursor: pointer;
  z-index: 9;
  svg {
    transition: .3s;
    -webkit-filter: drop-shadow(0px 8px 1px #53535366);
    filter: drop-shadow(0px 8px 1px #53535366);
  }

  &:hover {


    path {
      fill: $color3;

    }

    circle {
      stroke: $color3;

    }
  }
}


.body-slider-descript {
  @include mq('desktop') {
    width: 555px;
    margin: 30px 0  0 auto ;
  }
}

.transform {
  @include mq('desktop') {
    position: absolute;
    top: 54px;
    width: 100%;
    left: 0;
    display: flex;
    flex-wrap: wrap;

  }
}

.descript-slide{
  @include mq('desktop') {
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
  }
}

.descript-slide__title {
  @include adaptiv-font(20, 16);
  @include adaptiv-margin-bottom(20, 25);
  font-weight: bold;
}

.descript-slide__list {
  @include adaptiv-margin-bottom(22, 30);

  li {
    @include adaptiv-font(16, 14);
    @include adaptiv-margin-bottom(10, 10);
  }
}

.descript-slide__price {
  @include adaptiv-font(20, 16);
}

.color-slide {
  padding: 5px;
  img{
    box-shadow:0px 6px 12px 0px rgba(0,0,0,0.11);
    -webkit-box-shadow:0px 6px 12px 0px rgba(0,0,0,0.11);
    -moz-box-shadow:0px 6px 12px 0px rgba(0,0,0,0.11);
    width: 100%;
  }

}
.color-slide.swiper-slide-active{
  img {
    transform: scale(1.1);
    border: 1px solid $color3;
    border-radius: 7px;
  }
}
.title-besctop{
  display: none;
  @include mq('desktop') {
    display: block;
  }
}
.title-mobile{
  @include mq('desktop') {
   display: none;
  }
}
.wrapper-secons-sl{

}
.body-slider-background{

}


