.sec_first-screen{
  padding: 30px 0 75px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  @include mq('tablet') {
    padding: 0 0 109px;
  }
  @include mq('desktop1350') {
    height: 100vh;

  }
  @include mq('2K') {
    padding: 170px 0 180px;
  }

}
.wrapper-first-content{
  padding: 0 15px;

  @include mq('tablet-wide') {
    margin-left: 25px;
  }
  @include mq('desktop') {
    margin-left: 200px;
  }
  @include mq('3K') {
    margin-left: 400px;
  }


}
.first-screen__title{
  @include adaptiv-margin-bottom(50,35);
  span{
    color: $color3;
  }
}
.first-screen__list{
  li{
    @include adaptiv-margin-bottom(20,20);
    @include adaptiv-font(20,16);
    line-height: 1.2;
  }
  @include adaptiv-margin-bottom(100,75);
}

.first-screen__btn{
  margin-top: 30vh;
  @include mq('tablet') {
    margin-top: 50vh;
  }
  background: $color1;
  display: block;
}


