.sec_fourth-screen{
  padding: 50px 0;
  @include mq('tablet') {
    padding: 75px 0;
  }
  @include mq('2K') {
    padding: 100px 0 ;
  }
}

.call-to-action{
  @include adaptiv-font(36,25);
  span{
    color: $color3;
  }
  @include maq('tablet-990') {
    margin-bottom: 35px;
  }
  @media only screen and (min-width: 600px) and (max-width: 991px) {
    text-align: center;
  }
}

.call-to-action_btn{
  @include maq('tablet-990') {
    margin: auto;
  }
}