section.footer
    .container-fluid
        .body-footer
            .footer-logo
                img(src='img/ic/logo.svg')

            .footer-copor.DESCKTOP
                p © 2020 ООО “Магазин Слон”

            .footer-phone
                a(href="+7 (918) 888-88-42") +7 (918) 888-88-42

            .footer-address
                a(href="#") Политика конфиденциальности

            .footer-copor.MOBILE
                p © 2020 ООО “Магазин Слон”

            .footer-lab
                img(src='img/ic/labsel.svg')