section.sec_slider
    .container
        .sleder__title.title-block.title-mobile Фактуры в дизайне интерьеров
    .body-slider-background
        .swiper-container.background-container
            .swiper-wrapper
                .swiper-slide.background-slide 1
                    img(src="img/sec4-1.png")
                .swiper-slide.background-slide 2
                    img(src="img/sec4-2.png")
                .swiper-slide.background-slide 3
                    img(src="img/sec4-3.png")
                .swiper-slide.background-slide 4
                    img(src="img/sec4-4.png")
                .swiper-slide.background-slide 5
                    img(src="img/sec4-1.png")


    .transform
        .container
            .sleder__title.title-block.title-besctop Фактуры в дизайне интерьеров
            .wrapper-secons-sl
                .body-slider-color
                    .swiper-container.color-container
                        .swiper-wrapper.color-wrapper
                            .swiper-slide.color-slide 1
                                img(src="img/sec4-11.png")
                            .swiper-slide.color-slide 2
                                img(src="img/sec4-12.png")
                            .swiper-slide.color-slide 3
                                img(src="img/sec4-11.png")
                            .swiper-slide.color-slide 4
                                img(src="img/sec4-13.png")
                            .swiper-slide.color-slide 5
                                img(src="img/sec4-12.png")

                    .wrapper-nav
                        .color-button-prev.color-ar
                            svg(width="42" height="43" viewBox="0 0 42 43" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M23.1453 28.5L24.6816 26.9833L19.6336 22L24.6816 17.0167L23.1453 15.5L16.5609 22L23.1453 28.5Z" fill="white")
                                circle(cx="21" cy="21.5" r="20.5" transform="rotate(-90 21 21.5)" stroke="white")

                        .color-button-next.color-ar
                            svg(width="42" height="43" viewBox="0 0 42 43" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M18.5364 15.5L17 17.0167L22.0481 22L17 26.9833L18.5364 28.5L25.1208 22L18.5364 15.5Z" fill="white")
                                circle(cx="21" cy="21.5" r="20.5" transform="rotate(-90 21 21.5)" stroke="white")

                .body-slider-descript
                    .swiper-container.descript-container
                        .swiper-wrapper
                            .swiper-slide.descript-slide
                                .descript-slide__title Betonart 1
                                ul.descript-slide__list.square
                                    li Придает эффект необработанного бетона.
                                    li Водостойкая.
                                    li Устойчива к щелочи.
                                    li На водной основе, без запаха, безопасна для человека и окружающей среды.
                                    li Долговечная.
                                    li Колеруется системой окрашивания Мастер Цвета (RENK USTASI).

                                .descript-slide__price Цена: от 400 р/м2

                            .swiper-slide.descript-slide
                                .descript-slide__title Betonart 2
                                ul.descript-slide__list.square
                                    li Придает эффект необработанного бетона.
                                    li Водостойкая.
                                    li Устойчива к щелочи.
                                    li На водной основе, без запаха, безопасна для человека и окружающей среды.
                                    li Долговечная.
                                    li Колеруется системой окрашивания Мастер Цвета (RENK USTASI).

                                .descript-slide__price Цена: от 400 р/м2


                            .swiper-slide.descript-slide
                                .descript-slide__title Betonart 3
                                ul.descript-slide__list.square
                                    li Придает эффект необработанного бетона.
                                    li Водостойкая.
                                    li Устойчива к щелочи.
                                    li На водной основе, без запаха, безопасна для человека и окружающей среды.
                                    li Долговечная.
                                    li Колеруется системой окрашивания Мастер Цвета (RENK USTASI).

                                .descript-slide__price Цена: от 400 р/м2


                            .swiper-slide.descript-slide
                                .descript-slide__title Betonart 4
                                ul.descript-slide__list.square
                                    li Придает эффект необработанного бетона.
                                    li Водостойкая.
                                    li Устойчива к щелочи.
                                    li На водной основе, без запаха, безопасна для человека и окружающей среды.
                                    li Долговечная.
                                    li Колеруется системой окрашивания Мастер Цвета (RENK USTASI).

                                .descript-slide__price Цена: от 400 р/м2
                            .swiper-slide.descript-slide
                                .descript-slide__title Betonart 5
                                ul.descript-slide__list.square
                                    li Придает эффект необработанного бетона.
                                    li Водостойкая.
                                    li Устойчива к щелочи.
                                    li На водной основе, без запаха, безопасна для человека и окружающей среды.
                                    li Долговечная.
                                    li Колеруется системой окрашивания Мастер Цвета (RENK USTASI).

                                .descript-slide__price Цена: от 400 р/м2



