section.sec_second-screen(style="background-image: url('img/sec2-1.png');")
    .container
        .second-screen__title.title-block Для кого  мы работаем
        .body-items-charts
            .item-chart
                .item-chart__scale
                    .scale
                        svg( viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path( opacity="0.15" d="M260 130C260 201.797 201.797 260 130 260C58.203 260 0 201.797 0 130C0 58.203 58.203 0 130 0C201.797 0 260 58.203 260 130ZM10.4 130C10.4 196.053 63.9467 249.6 130 249.6C196.053 249.6 249.6 196.053 249.6 130C249.6 63.9467 196.053 10.4 130 10.4C63.9467 10.4 10.4 63.9467 10.4 130Z" fill="white")
                            path( d="M140.776 0.447376C110.803 -2.04566 80.8932 5.93105 56.1425 23.0184C31.3917 40.1057 13.3315 65.2464 5.03895 94.1568C-3.25357 123.067 -1.26525 153.959 10.6651 181.567C22.5955 209.176 43.7297 231.794 70.4668 245.567C97.2039 259.341 127.89 263.417 157.295 257.102C186.701 250.787 213.008 234.472 231.732 210.935C250.457 187.399 260.442 158.098 259.985 128.026C259.528 97.9528 248.658 68.9688 229.227 46.0121L221.289 52.7311C239.166 73.8513 249.166 100.517 249.586 128.184C250.006 155.85 240.821 182.807 223.594 204.461C206.367 226.114 182.165 241.124 155.112 246.934C128.058 252.744 99.8276 248.993 75.2295 236.322C50.6313 223.65 31.1878 202.842 20.2119 177.442C9.23597 152.042 7.40672 123.622 15.0358 97.0243C22.6649 70.4267 39.2804 47.2972 62.0511 31.5769C84.8218 15.8566 112.339 8.51799 139.914 10.8116L140.776 0.447376Z" fill="#F5DF4D")
                            circle(opacity="0.15" cx="130" cy="130" r="94.3548" fill="white")
                        .scale__title Дизайнеры <br> интерьера



                .item-chart__content
                    .item-chart__title Ясность нашей позиции очевидна
                    .item-chart__text дальнейшее развитие различных форм деятельности однозначно определяет каждого участника как способного принимать собственные решения касаемо вывода текущих активов
                    .item-chart__subtitle Работая с нами вы получаете:
                    ul.item-chart__list.square
                        li Высокая стойкость к загрязнениям.
                        li Выдерживает очистку щелочными моющими средствами.
                        li Обладает высокой прочностью.
                        li Обладает сильными противогрибковыми свойствами.



            .item-chart
                .item-chart__scale
                    .scale
                        svg( viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(opacity="0.15" d="M260 130C260 201.797 201.797 260 130 260C58.203 260 0 201.797 0 130C0 58.203 58.203 0 130 0C201.797 0 260 58.203 260 130ZM10.4 130C10.4 196.053 63.9467 249.6 130 249.6C196.053 249.6 249.6 196.053 249.6 130C249.6 63.9467 196.053 10.4 130 10.4C63.9467 10.4 10.4 63.9467 10.4 130Z" fill="white")
                            path(d="M140.776 0.447376C116.984 -1.53159 93.1058 3.07954 71.7611 13.7751C50.4165 24.4706 32.4294 40.8375 19.7724 61.0807C7.11537 81.324 0.27737 104.662 0.00825892 128.535C-0.260852 152.408 6.04932 175.894 18.2468 196.417L27.187 191.104C15.9654 172.222 10.16 150.615 10.4076 128.652C10.6552 106.689 16.9461 85.218 28.5906 66.5943C40.235 47.9705 56.7832 32.913 76.4202 23.0731C96.0573 13.2332 118.025 8.99094 139.914 10.8116L140.776 0.447376Z" fill="#F5DF4D")
                            circle(opacity="0.15" cx="130" cy="130" r="94.3548" fill="white")
                        .scale__title Строители



                .item-chart__content
                    .item-chart__title Ясность нашей позиции очевидна
                    .item-chart__text дальнейшее развитие различных форм деятельности однозначно определяет каждого участника как способного принимать собственные решения касаемо вывода текущих активов
                    .item-chart__subtitle Работая с нами вы получаете:
                    ul.item-chart__list.square
                        li Высокая стойкость к загрязнениям.
                        li Выдерживает очистку щелочными моющими средствами.
                        li Обладает высокой прочностью.
                        li Обладает сильными противогрибковыми свойствами.





            .item-chart
                .item-chart__scale
                    .scale
                        svg( viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(opacity="0.15" d="M260 130C260 201.797 201.797 260 130 260C58.203 260 0 201.797 0 130C0 58.203 58.203 0 130 0C201.797 0 260 58.203 260 130ZM10.4 130C10.4 196.053 63.9467 249.6 130 249.6C196.053 249.6 249.6 196.053 249.6 130C249.6 63.9467 196.053 10.4 130 10.4C63.9467 10.4 10.4 63.9467 10.4 130Z" fill="white")
                            path(d="M140.776 0.447376C118.398 -1.41394 95.9196 2.55292 75.5306 11.9615C55.1417 21.3701 37.5374 35.8995 24.433 54.1342C11.3286 72.369 3.17095 93.6872 0.754759 116.012C-1.66143 138.337 1.74627 160.907 10.6459 181.523C19.5455 202.139 33.6334 220.098 51.5373 233.651C69.4411 247.204 90.5503 255.889 112.808 258.858C135.066 261.828 157.714 258.981 178.544 250.596C199.375 242.211 217.679 228.573 231.672 211.011L223.538 204.53C210.664 220.687 193.825 233.234 174.661 240.949C155.496 248.663 134.661 251.282 114.184 248.55C93.7063 245.818 74.2859 237.828 57.8143 225.359C41.3428 212.891 28.3818 196.368 20.1942 177.401C12.0066 158.434 8.87149 137.67 11.0944 117.131C13.3173 96.5922 20.8223 76.9794 32.8784 60.2035C44.9344 43.4275 61.1303 30.0605 79.8882 21.4046C98.646 12.7487 119.326 9.09918 139.914 10.8116L140.776 0.447376Z" fill="#F5DF4D")
                            circle(opacity="0.15" cx="130" cy="130" r="94.3548" fill="white")
                        .scale__title Заказчики



                .item-chart__content
                    .item-chart__title Ясность нашей позиции очевидна
                    .item-chart__text дальнейшее развитие различных форм деятельности однозначно определяет каждого участника как способного принимать собственные решения касаемо вывода текущих активов
                    .item-chart__subtitle Работая с нами вы получаете:
                    ul.item-chart__list.square
                        li Высокая стойкость к загрязнениям.
                        li Выдерживает очистку щелочными моющими средствами.
                        li Обладает высокой прочностью.
                        li Обладает сильными противогрибковыми свойствами.


