section.sec_first-screen
    .container-fluid
        .row
            .wrapper-first-content
                .first-screen__title.offer <span>Дизайнер,</span><br> работай с нами!
                ul.first-screen__list.square
                    li Подбор декоративной штукатурки
                    li Собственная база подбора
                .first-screen__btn.button Запросить консультацию