section.sec_first-screen(style="background-image: url('/img/1920x953.jpg');")
    .container-fluid
        .row
            .wrapper-first-content

                .first-screen__btn.button Запросить консультацию