section.sec_third-screen
    .container
        .third-screen__title.title-block Продукт компании
        .body-tab
            .scrol-blocl
                ul.nav.tabs-items#pills-tab
                    li.tabs-items__li
                        a.tabs-items__link.active#pills-home-tab(data-toggle="pill" href="#pills-home" aria-selected="true") Эффектные покрытия
                    li.tabs-items__li
                        a.tabs-items__link#pills-profile-tab(data-toggle="pill" href="#pills-profile" aria-selected="false") Среднефактурные покрытия
                    li.tabs-items__li
                        a.tabs-items__link#pills-contact-tab(data-toggle="pill" href="#pills-contact" aria-selected="false") Фактурные покрытия
                    li.tabs-items__li
                        a.tabs-items__link#pills-home-tab(data-toggle="pill" href="#pills-home" aria-selected="true") Бетон
                    li.tabs-items__li
                        a.tabs-items__link#pills-profile-tab(data-toggle="pill" href="#pills-profile" aria-selected="false") Мрамор



            .tab-content#pills-tabContent
                .tab-pane.tab-conten__item.fade.show.active#pills-home
                    .wrapper-tab-conten
                        .tab-content__img(style="background-image: url('img/sec3-1.png');")
                        .tab-content__descript
                            .tab-content__title Эффектные покрытия
                            .tab-content__text — декоративная фактурная штукатурка с перламутровым эффектом. Содержит в своем составе специальный наполнитель различных фракций, который позволяет в зависимости от технологии нанесения получать различные эффекты
                            .tab-content__subtitle Свойства:
                            ul.tab-content__list.square
                                li Высокая стойкость к загрязнениям.
                                li Выдерживает очистку щелочными моющими средствами.
                                li Обладает высокой прочностью.
                                li Обладает сильными противогрибковыми свойствами.








                .tab-pane.tab-conten__item.fade#pills-profile
                    .wrapper-tab-conten
                        .tab-content__img(style="background-image: url('img/sec3-1.png');")
                        .tab-content__descript
                            .tab-content__title Эффектные покрытия
                            .tab-content__text — декоративная фактурная штукатурка с перламутровым эффектом. Содержит в своем составе специальный наполнитель различных фракций, который позволяет в зависимости от технологии нанесения получать различные эффекты
                            .tab-content__subtitle Свойства:
                            ul.tab-content__list.square
                                li Высокая стойкость к загрязнениям.
                                li Выдерживает очистку щелочными моющими средствами.
                                li Обладает высокой прочностью.
                                li Обладает сильными противогрибковыми свойствами.


                .tab-pane.tab-conten__item.fade#pills-contact
                    .wrapper-tab-conten
                        .tab-content__img(style="background-image: url('img/sec3-1.png');")
                        .tab-content__descript
                            .tab-content__title Эффектные покрытия
                            .tab-content__text — декоративная фактурная штукатурка с перламутровым эффектом. Содержит в своем составе специальный наполнитель различных фракций, который позволяет в зависимости от технологии нанесения получать различные эффекты
                            .tab-content__subtitle Свойства:
                            ul.tab-content__list.square
                                li Высокая стойкость к загрязнениям.
                                li Выдерживает очистку щелочными моющими средствами.
                                li Обладает высокой прочностью.
                                li Обладает сильными противогрибковыми свойствами.
