section.sec_portfolio
    .container
        .portfolio__title.title-block Примеры наших работ

    .row.portfolio-desktop
        .portfolio-item
            .portfolio-img(style="background-image: url('img/sec5-1.png');")
                .portfolio-item__hover
                    .portfolio-item-hover__title
                        .wr-content
                            h2 Комната в современном стиле
                    .portfolio-item-hover__descript
                        .wr-content
                            h2 Использованые материалы:
                            p Использованые материалы:
                            ul
                                li -Декоративная краска AURA
                                li -Декоративная краска AURA
                                li -Декоративная краска AURA
                                li -Декоративная краска AURA
                            .wrbtn
                                a.portfolio-item-hover__btn(href="img/sec5-1.png" data-fancybox="gallery_1")  Смотреть фото
                                .invis
                                    img(src='img/sec5-5.png' data-fancybox="gallery_1")
                                    img(src='img/sec5-4.png' data-fancybox="gallery_1")
                                    img(src='img/sec5-3.png' data-fancybox="gallery_1")
        .portfolio-item
            .portfolio-img(style="background-image: url('img/sec5-2.png');")
                .portfolio-item__hover
                    .portfolio-item-hover__title
                        .wr-content
                            h2 Комната в современном стиле
                    .portfolio-item-hover__descript
                        .wr-content
                            h2 Использованые материалы:
                            p Использованые материалы:
                            ul
                                li -Декоративная краска AURA
                                li -Декоративная краска AURA
                                li -Декоративная краска AURA
                                li -Декоративная краска AURA
                            .wrbtn
                                a.portfolio-item-hover__btn(href="img/sec5-2.png" data-fancybox="gallery_2")  Смотреть фото
                                .invis
                                    img(src='img/sec5-4.png' data-fancybox="gallery_2")
                                    img(src='img/sec5-5.png' data-fancybox="gallery_2")
        .portfolio-item
            .portfolio-img(style="background-image: url('img/sec5-3.png');")

                .portfolio-item__hover
                    .portfolio-item-hover__title
                        .wr-content
                            h2 Комната в современном стиле
                    .portfolio-item-hover__descript
                        .wr-content
                            h2 Использованые материалы:
                            p Использованые материалы:
                            ul
                                li -Декоративная краска AURA
                                li -Декоративная краска AURA
                                li -Декоративная краска AURA
                                li -Декоративная краска AURA
                            .wrbtn
                                a.portfolio-item-hover__btn(href="img/sec5-3.png" data-fancybox="gallery_3")  Смотреть фото
                                .invis
                                    img(src='img/sec5-4.png' data-fancybox="gallery_3")
                                    img(src='img/sec5-5.png' data-fancybox="gallery_3")
        .portfolio-item
            .portfolio-img(style="background-image: url('img/sec5-4.png');")

                .portfolio-item__hover
                    .portfolio-item-hover__title
                        .wr-content
                            h2 Комната в современном стиле
                    .portfolio-item-hover__descript
                        .wr-content
                            h2 Использованые материалы:
                            p Использованые материалы:
                            ul
                                li -Декоративная краска AURA
                                li -Декоративная краска AURA
                                li -Декоративная краска AURA
                                li -Декоративная краска AURA
                            .wrbtn
                                a.portfolio-item-hover__btn(href="img/sec5-4.png" data-fancybox="gallery_4")  Смотреть фото
                                .invis
                                    img(src='img/sec5-5.png' data-fancybox="gallery_4")
                                    img(src='img/sec5-1.png' data-fancybox="gallery_4")
                                    img(src='img/sec5-2.png' data-fancybox="gallery_4")


    .container.portfolio-mobil
        .body-slider-portfolio
            .portfolio-item
                .body-slider-portfolio
                    .swiper-container.portfolio-container
                        .swiper-wrapper
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-1.png');")
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-2.png');")
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-3.png');")
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-4.png');")
                        .portfolio-pagination
                .btn-portfolio-text
                    .portfolio-item__hover
                        .portfolio-item-hover__title
                            .wr-content
                                h2 Комната в современном стиле
                        .portfolio-item-hover__descript
                            .wr-content
                                h2 Использованые материалы:
                                p Использованые материалы:
                                ul
                                    li -Декоративная краска AURA
                                    li -Декоративная краска AURA
                                    li -Декоративная краска AURA
                                    li -Декоративная краска AURA
                    .btn-text подробнее
            .portfolio-item
                .body-slider-portfolio
                    .swiper-container.portfolio-container
                        .swiper-wrapper
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-2.png');")
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-3.png');")
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-4.png');")
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-1.png');")
                        .portfolio-pagination
                .btn-portfolio-text
                    .portfolio-item__hover
                        .portfolio-item-hover__title
                            .wr-content
                                h2 Комната в современном стиле
                        .portfolio-item-hover__descript
                            .wr-content
                                h2 Использованые материалы:
                                p Использованые материалы:
                                ul
                                    li -Декоративная краска AURA
                                    li -Декоративная краска AURA
                                    li -Декоративная краска AURA
                                    li -Декоративная краска AURA
                    .btn-text подробнее
            .portfolio-item
                .body-slider-portfolio
                    .swiper-container.portfolio-container
                        .swiper-wrapper
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-4.png');")
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-3.png');")
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-2.png');")
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-1.png');")
                        .portfolio-pagination
                .btn-portfolio-text
                    .portfolio-item__hover
                        .portfolio-item-hover__title
                            .wr-content
                                h2 Комната в современном стиле
                        .portfolio-item-hover__descript
                            .wr-content
                                h2 Использованые материалы:
                                p Использованые материалы:
                                ul
                                    li -Декоративная краска AURA
                                    li -Декоративная краска AURA
                                    li -Декоративная краска AURA
                                    li -Декоративная краска AURA
                    .btn-text подробнее
            .portfolio-item
                .body-slider-portfolio
                    .swiper-container.portfolio-container
                        .swiper-wrapper
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-3.png');")
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-4.png');")
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-1.png');")
                            .swiper-slide.portfolio-slide.portfolio-img(style="background-image: url('img/sec5-2.png');")
                        .portfolio-pagination
                .btn-portfolio-text
                    .portfolio-item__hover
                        .portfolio-item-hover__title
                            .wr-content
                                h2 Комната в современном стиле
                        .portfolio-item-hover__descript
                            .wr-content
                                h2 Использованые материалы:
                                p Использованые материалы:
                                ul
                                    li -Декоративная краска AURA
                                    li -Декоративная краска AURA
                                    li -Декоративная краска AURA
                                    li -Декоративная краска AURA
                    .btn-text подробнее





