section.sec_eighth-screen
    .container
        .about-us__title.title-block О компании
        .body-about-us
            .about-us-descript
                .about-us-descript__header
                    .about-us-descript__ic
                        img(src="img/ic/sec8-15.svg")
                    .about-us-descript__ic
                        img(src="img/ic/sec8-400.svg")
                    .about-us-descript__ic
                        img(src="img/ic/sec8-4.svg")
                ul.about-us-descript__list.square
                    li Индивидуальный подбор  и колеровки
                    li Лояльная бонусная программа
                    li Долговечные материалы, проверенный на собственном опыта
                    li Гарантия качества
                    li Индивидуальность и престиж

            .about-us-img(style="background-image: url('img/sec8-1.png');")