section.sec_sixth-screen
    .container
        .profitably__title.title-block Почему работать с нами выгодно
        .body-profitably
            .profitably-description
                .profitably-description__item
                    .profitably-description__header
                        .profitably-description__ic
                            img(src="img/ic/sec6-1.svg")
                        .profitably-description__title Гибкие условия работы
                    ul.profitably-description__list.square
                        li Первая прибыль через 31 день
                        li Продажа первого проекта через 2 недели
                        li Окупаемость — 3 клиента
                .profitably-description__item
                    .profitably-description__header
                        .profitably-description__ic
                            img(src="img/ic/sec6-2.svg")
                        .profitably-description__title Партнёрская программа
                    ul.profitably-description__list.square
                        li Стабильно работающий бизнес в кризис
                        li Свободная ниша в ближайшие 2 года
                        li Каждый год в России строится более 1 млн. квартир


                .profitably-description__item
                    .profitably-description__header
                        .profitably-description__ic
                            img(src="img/ic/sec6-3.svg")
                        .profitably-description__title Представление образцов продукции
                    ul.profitably-description__list.square
                        li Полная программа обучения
                        li Все процессы автоматизированы и настроены
                        li Поддержка центрального офиса 24/7


                .profitably-description__item
                    .profitably-description__header
                        .profitably-description__ic
                            img(src="img/ic/sec6-4.svg")
                        .profitably-description__title Система обучения
                    ul.profitably-description__list.square
                        li Полная программа обучения
                        li Все процессы автоматизированы и настроены
                        li Поддержка центрального офиса 24/7

            .profitably-img
                img(src="img/sec6-01.png")
