section.sec_seventh-screen
    .container
        .order__title.title-block Как заказать?
        .body-order
             .order-img(style="background-image: url('img/sec7-1.png');")
             .order-descreeption
                 a.order-descreeption__item(href="#form-ask")
                     .order-descreeption__ic
                         img(src="img/sec7-01.png")
                     .order-descreeption__text
                         .order-descreeption__title Оставить заявку
                         .order-descreeption__subtitle В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное производство
                 .order-descreeption__item
                     .order-descreeption__ic
                         img(src="img/sec7-02.png")
                     .order-descreeption__text
                         .order-descreeption__title Мы связываемся с вами
                         .order-descreeption__subtitle В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное производство
                 .order-descreeption__item
                     .order-descreeption__ic
                         img(src="img/sec7-03.png")
                     .order-descreeption__text
                         .order-descreeption__title Реализация
                         .order-descreeption__subtitle В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное производство

                 .order-descreeption__item
                     .order-descreeption__ic
                         img(src="img/sec7-04.png")
                     .order-descreeption__text
                         .order-descreeption__title Доставка
                         .order-descreeption__subtitle В рамках спецификации современных стандартов, стремящиеся вытеснить традиционное производство