section.sec_fourth-screen
    .container
           .row
               .col-12.col-lg-7.col-xl-8
                   .call-to-action Напишите нам и мы <span>подберем</span> вам <span>индивидуальное предложение</span>
               .col-12.col-lg-5.col-xl-4
                   .call-to-action_btn.button Запросить консультацию