section.sec_ninth-screen
    .container
        .brends-title.title-block Бренды, с которми мы сотрудничаем
        .brends-descript Ясность нашей позиции очевидна: дальнейшее развитие различных форм деятельности однозначно определяет каждого участника как способного принимать собственные решения касаемо вывода текущих активов

        .body-brends
            .brends-items
                img(src="img/sec9-1.png")
            .brends-items
                img(src="img/sec9-2.png")
            .brends-items
                img(src="img/sec9-3.png")
            .brends-items
                img(src="img/sec9-4.png")
            .brends-items
                img(src="img/sec9-5.png")
            .brends-items
                img(src="img/sec9-6.png")
            .brends-items
                img(src="img/sec9-8.png")
            .brends-items
                img(src="img/sec9-9.png")
            .brends-items
                img(src="img/sec9-10.png")